body {
  margin: 10px;
  padding: 10px;
}

.image {
  padding-top: 100px;
  margin-left: 0px;
}

.CENTER {
  padding: 100px;
  position: relative;
}

.icon .icon-apple {
  font-size: larger;
  padding: 10px;
  border-radius: 10px;
  border: white;
}

.icon .icon-google {
  font-size: larger;
  padding: 10px;
  color: white;
  border-radius: 10px;
  background-color: blue;
  margin-left: 50px;
  border: white;
}

.header {
  background-color: grey;
  position: static;
  top: 20;
  left: 10;
  position: relative;
}

.headertitle {
  position: absolute;
  left: 0;
  margin-left: 10px;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  color: rgb(58, 16, 126);
  margin-left: 100px;
}

.headerbutons {
  position: absolute;
  right: 0;
  margin-top: 20px;
  margin-bottom: 10px;
}

.buttons {
  margin-bottom: 10px;
  margin-left: 50px;
  padding: 10px;
  text-align: center;
  color: white;
  background-color: rgb(58, 16, 126);
  font-size: medium;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 10%;
  border: #55ACEE;
}

.buttons:hover {
  background-color: aliceblue;
  color: black;
  border: solid;
}

h1 {
  color: rgb(58, 16, 126);
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  padding: 5px;
}

.bold {
  font-size: 54px;
  margin-right: 50px;
  margin-left: 0px;
}

a{
  margin:65px;
  padding: 30px;
  color:  rgb(58, 16, 126);
  font-size: larger;
  font-weight: bolder;
}

.grid-container{
  display: grid;
  grid-template-columns: auto auto;
}